/* Declaring custom properties */
* {
  box-sizing: border-box;
  border: thin solid red;
}

#header {
  padding: 2em;
  background-color: black;
  color: black;
  text-align: right;
}

#login {
  color: white;
}

#sign-up {
  color: white;
}

#logo-main {
  font-size: 2.5em;
  float:left;
}

#logo-title{
  color: white;
}

#menu {
  padding: 1em;
  background-color: white;
  color: black;
  text-align: right;
}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid lightgray;
}

#sub-principal {
  background-color: gray;
}

#sub-principal > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid lightgray;
}

#content {
  padding: 1em;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}
